<p class="sidebar-title">Управление</p>

<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>games</mat-icon> Главная
  </mat-list-item>
  <mat-list-item routerLink="{{routes.REPORTS}}" routerLinkActive="active">
    <mat-icon>summarize</mat-icon> Отчеты
  </mat-list-item>
</mat-list>

<p class="sidebar-title">Данные</p>

<mat-list>
  <mat-list-item routerLink="{{routes.HOTEL}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Гостиница
  </mat-list-item>
  <mat-list-item routerLink="{{routes.RESIDENCES}}" routerLinkActive="active">
    <mat-icon>night_shelter</mat-icon> Проживания
  </mat-list-item>
  <mat-list-item routerLink="{{routes.CLIENTS}}" routerLinkActive="active">
    <mat-icon>how_to_reg</mat-icon> Клиенты
  </mat-list-item>
  <mat-list-item routerLink="{{routes.WORKERS}}" routerLinkActive="active">
    <mat-icon>engineering</mat-icon> Работники
  </mat-list-item>
  <mat-list-item routerLink="{{routes.ROOMS}}" routerLinkActive="active">
    <mat-icon>bedroom_parent</mat-icon> Номера
  </mat-list-item>
  <mat-list-item routerLink="{{routes.SCHEDULES}}" routerLinkActive="active">
    <mat-icon>cleaning_services</mat-icon> Уброка
  </mat-list-item>
</mat-list>

<p class="sidebar-title">Помощь</p>
<mat-list>
  <mat-list-item routerLink="{{routes.SETTINGS}}" routerLinkActive="active">
    <mat-icon>settings</mat-icon> Настройки
  </mat-list-item>
  <mat-list-item routerLink="{{routes.ABOUT}}" routerLinkActive="active">
    <mat-icon>help_outline</mat-icon> О приложении
  </mat-list-item>
</mat-list>
